{% extends 'base-front.html.twig' %}


{% block pagetitle %}ReservationCourSalle{% endblock %}
{% block body %}
    <h1>ReservationCourSalle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_cour_salle.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_liste_reservation_cour_salle_index') }}">back to list</a>

    <a href="{{ path('app_reservation_cour_salle_edit', {'id': reservation_cour_salle.id}) }}">edit</a>

    {{ include('reservation_cour_salle/_delete_form.html.twig') }}
{% endblock %}
