{% extends 'front/fresh-base.html.twig' %}

{% block title %}Edit ReservationCourSalle{% endblock %}

{% block body %}
    <h1>Edit ReservationCourSalle</h1>

    {{ include('reservation_cour_salle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_cour_salle_index') }}">back to list</a>

    {{ include('reservation_cour_salle/_delete_form.html.twig') }}
{% endblock %}
