{% extends 'front/fresh-base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 style="color: #ad6704">Contacter Nous</h1>
    <div class="container" style="color: white">

        {{ form(form) }}
    </div>

{% endblock %}