{% extends 'front/fresh-base.html.twig' %}

{% block title %}Hello PlatController!{% endblock %}

{% block body %}
    <h2>Calcul besoin</h2><br>
    {{ include('carac/form.html.twig') }}

{% endblock %}