{% extends 'base-back.html.twig' %}

{% block title %}New CourSalle{% endblock %}

{% block body %}
    <h1>Create new CourSalle</h1>

    {{ include('cour_salle/_form.html.twig') }}

    <a href="{{ path('app_cour_salle_index') }}">back to list</a>
{% endblock %}
