{% extends 'base-back.html.twig' %}

{% block header %}<h1 style="text-align:center;">Create new ReservationCoach</h1>{% endblock %}

{% block body %}


    {{ include('reservation_coach/_form.html.twig') }}

    <a href="{{ path('app_reservation_coach_index') }}"class="btn btn-outline-danger">Retour</a>
{% endblock %}
