{% extends 'base-back.html.twig' %}

{% block titreGauche %}Editer Cour{% endblock %}
{% block titreDroite %}Salle4{% endblock %}
{% block body %}


    {{ include('cour_salle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cour_salle_index') }}">back to list</a>

    {{ include('cour_salle/_delete_form.html.twig') }}
{% endblock %}
