{% extends 'base-back.html.twig' %}

{% block titreGauche %}Nouveau Cour{% endblock %}
{% block titreDroite %}Salle4{% endblock %}
{% block body %}


    {{ include('cour_salle/_form.html.twig') }}

    <a href="{{ path('app_cour_salle_index') }}">back to list</a>
{% endblock %}
